In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
wikidiz_file = "WikiDisney.csv"
wikidiz_df = pd.read_csv(wikidiz_file)
wikidiz_df.head(25)

   Type of Film                           Title          US Release
0             L                      Toby Tyler    January 21, 1960
1             L                       Kidnapped   February 24, 1960
2             L                       Pollyanna        May 19, 1960
3             L               The Sign of Zorro       June 11, 1960
4             N                      Jungle Cat     August 10, 1960
5             L                   Ten Who Dared    November 1, 1960
6             L           Swiss Family Robinson   December 21, 1960
7             A  One Hundred and One Dalmatians    January 25, 1961
8             L     The Absent-Minded Professor      March 16, 1961
9             L                 The Parent Trap       June 21, 1961
10            L    Nikki, Wild Dog of the North       July 12, 1961
11            L                Greyfriars Bobby       July 17, 1961
12            L                Babes in Toyland   December 14, 1961
13            L                      Moon Pilot       April 5, 1962
14            L                     Bon Voyage!        May 17, 1962
15            L                         Big Red        June 6, 1962
16            L                   Almost Angels  September 26, 1962
17            L              The Legend of Lobo    November 7, 1962
18            L      In Search of the Castaways   December 21, 1962
19            L                  Son of Flubber    January 16, 1963
20            L  Miracle of the White Stallions      March 29, 1963
21            L                      Savage Sam        June 1, 1963
22            L                    Summer Magic        July 7, 1963
23            L          The Incredible Journey   November 20, 1963
24            A          The Sword in the Stone   December 25, 1963

In [3]:
listdiz_file = "disneylist.csv"
listdiz_df = pd.read_csv(listdiz_file)
listdiz_df.head(25)

                                          TITLE     YEAR
0                       Pinocchio (Live-Action)  Unknown
1                                  Kim Possible      TBA
2                                        TRON 3  Stalled
3                                   Enchanted 2      DEV
4                                          Tink      DEV
5                                      Gigantic     2020
6                                 Jungle Cruise     2020
7                                      Frozen 2     2019
8                           Dumbo (Live-Action)     2019
9                                 Descendants 3     2019
10                          Mulan (Live-Action)     2019
11                                  Toy Story 4     2019
12                                The Lion King     2019
13                                      Aladdin     2019
14                         Mary Poppins Returns     2018
15                                   Magic Camp     2018
16                        Cruella (Live-Action)     2018
17  Wreck-It Ralph 2: Ralph Breaks the Internet     2018
18                                Freaky Friday     2018
19                            A Wrinkle in Time     2018
20                                      Zombies     2018
21                                Incredibles 2     2018
22                                       Cars 3     2017
23                         Beauty and the Beast     2017
24                                         Coco     2017

In [24]:
imdbdiz_file = "IMDBDisney.csv"
imdbdiz_df = pd.read_csv(imdbdiz_file)
imdbdiz_df.count()

Title        100
year          96
Metascore     88
IMDB         100
link         100
dtype: int64

In [6]:
grossdiz_file = "Movies_Gross_Sales.csv"
grossdiz_df = pd.read_csv(grossdiz_file)
grossdiz_df.head(25)

,Year,Title,Worldwide gross,Budget,Total Sales
0,1937,Snow White and the Seven Dwarfs,"$418,200,000+ ($8,500,000)R","$1,488,423",426700000
1,1939,Gulliver's Travels,"$3,200,000*","$700,000",3200000
2,1940,Pinocchio,"$87,000,862* ($3,500,000)R","$2,600,000",90500862
3,1941,Dumbo,"$1,600,000*","$950,000",1600000
4,1942,Bambi,"$267,447,150 ($3,449,353)R","$1,700,000–2,000,000",270896503
5,1943,Victory Through Air Power,"$799,000*","~$789,000",799000
6,1944,The Three Caballeros,"$3,355,000R",TBD,3355000
7,1945,The Enchanted Sword,"ES€5,595,283ES (~$90,000)",TBD,5685283
8,1946,Make Mine Music,"$3,275,000R","$1,370,000",3275000
9,1947,Fun and Fancy Free,"$3,165,000R",TBD,3165000
10,1948,Melody Time,"$2,560,000R","$1,500,000",2560000
11,1949,The Adventures of Ichabod and Mr. Toad,"$1,625,000R",TBD,1625000
12,1950,Cinderella,"$263,591,415($20,000,000/$7,800,000)*R","$2,200,000",263591415
13,1951,Alice in Wonderland,"$2,400,000*","$3,000,000",2400000
14,1953,Peter Pan,"$145,000,000 ($7,000,000)","$3,000,000–4,000,000",152000000
15,1955,Lady and the Tramp,"$187,000,000 ($6,500,000)*R","$4,000,000",193500000
16,1959,Sleeping Beauty,"$51,600,000* ($5,300,000)R","$6,000,000",56900000
17,1961,One Hundred and One Dalmatians,"$215,880,212","$3,600,000–4,000,000",215880212
18,1963,The Sword in the Stone,"$22,182,353*R ($13,050,777)*R","$3,000,000",35233130
19,1964,"Hey There, It's Yogi Bear","$1,940,903*–2,438,233*($1,130,000)R",TBD,1940903
20,1966,The Man Called Flintstone,"$2,764,684*",TBD,2764684
21,1967,The Jungle Book,"$378,000,000($23,800,000)R","$3,900,000–4,000,000",378000000
22,1968,Out of an Old Man's Head,"SEK1,270,971SW (~$245,000)H",TBD,1515971
23,1969,A Boy Named Charlie Brown,"$12,000,000*","$1,100,000",12000000
24,1970,The Aristocats,"$191,000,000 ($26,462,000)R","$4,000,000",217462000

In [7]:
chardiz_file = "disney-characters.csv"
chardiz_df = pd.read_csv(chardiz_file)
chardiz_df.head(25)

,movie_title,release_date,hero,villian,song
0,\nSnow White and the Seven Dwarfs,"December 21, 1937",Snow White,Evil Queen,Some Day My Prince Will Come
1,\nPinocchio,"February 7, 1940",Pinocchio,Stromboli,When You Wish upon a Star
2,\nFantasia,"November 13, 1940",NaN,Chernabog,NaN
3,Dumbo,"October 23, 1941",Dumbo,Ringmaster,Baby Mine
4,\nBambi,"August 13, 1942",Bambi,Hunter,Love Is a Song
5,\nSaludos Amigos,"February 6, 1943",Donald Duck,NaN,Saludos Amigos\n
6,The Three Caballeros,"February 3, 1945",Donald Duck,NaN,NaN
7,\nMake Mine Music,"April 20, 1946",NaN,NaN,NaN
8,\nFun and Fancy Free,"September 27, 1947",Mickey Mouse,Willie the Giant,NaN
9,\nMelody Time,"May 27, 1948",NaN,NaN,Little Toot
10,\nThe Adventures of Ichabod and Mr. Toad,"October 5, 1949",Mr. Toad and Ichabod Crane,Mr. Winkie and The Headless Horseman,The Merrily Song
11,Cinderella,"February 15, 1950",Cinderella,Lady Tremaine,Bibbidi-Bobbidi-Boo
12,\nAlice in Wonderland,"July 28, 1951",Alice,Queen of Hearts,The Unbirthday Song
13,\nPeter Pan,"February 5, 1953",Peter Pan,Captain Hook,You Can Fly!
14,\nLady and the Tramp,"June 22, 1955",Lady and Tramp,Si and Am,Bella Notte
15,Sleeping Beauty,"January 29, 1959",Aurora,Maleficent,Once Upon a Dream
16,\nOne Hundred and One Dalmatians,"January 25, 1961",Pongo,Cruella de Vil,Cruella De Vil
17,\nThe Sword in the Stone,"December 25, 1963",Arthur,Madam Mim,Higitus Figitus\n
18,The Jungle Book,"October 18, 1967",Mowgli,Kaa and Shere Khan,The Bare Necessities\n
19,The Aristocats,"December 24, 1970",Thomas and Duchess,Edgar Balthazar,Ev'rybody Wants to Be a Cat
20,\nRobin Hood,"November 8, 1973",Robin Hood,Prince John,Oo De Lally
21,\nThe Many Adventures of Winnie the Pooh,"March 11, 1977",Winnie the Pooh,NaN,Winnie the Pooh
22,\nThe Rescuers,"June 22, 1977",Bernard and Miss Bianca,Madame Medusa,The Journey
23,\nThe Fox and the Hound,"July 10, 1981",Tod and Copper,Amos Slade,Best of Friends
24,\nThe Black Cauldron,"July 24, 1985",Taran,Horned King,NaN

In [8]:
voiceactdiz_file = "disney_voice_actors.csv"
voiceactdiz_df = pd.read_csv(voiceactdiz_file)
voiceactdiz_df.head(25)

,character,voice_actor,movie
0,Abby Mallard,Joan Cusack,Chicken Little
1,Abigail Gabble,Monica Evans,The Aristocats
2,Abis Mal,Jason Alexander,The Return of Jafar
3,Abu,Frank Welker,Aladdin
4,Achilles,None,The Hunchback of Notre Dame
5,Adella,Sherry Lynn,The Little Mermaid
6,Adorabeezle Winterpop,None,Wreck-It Ralph
7,The Agent,Greg Germann,Bolt
8,Agent Wendy Pleakley,Kevin McDonald,Lilo & Stitch
9,Ajax the Gorilla,None,Donald Duck and the Gorilla
10,Akela,John Abbott,The Jungle Book
11,Al the Alligator,Thurl Ravenscroft,Lady and the Tramp
12,Aladar,D. B. Sweeney,Dinosaur
13,Aladdin,Scott Weinger; Brad Kane,Aladdin
14,Alameda Slim,Randy Quaid,Home on the Range
15,Alan-a-Dale,Roger Miller,Robin Hood
16,Alana,Kimmy Robertson,The Little Mermaid
17,Alcmene,Barbara Barrie,Hercules
18,Alice,Kathryn Beaumont,Alice in Wonderland
19,Alice Bluebonnet,None,Make Mine Music
20,Alice's Sister,Heather Angel,Alice in Wonderland
21,Amelia Gabble,Carole Shelley,The Aristocats
22,Amos Slade,Jack Albertson,The Fox and the Hound
23,Amphitryon,Hal Holbrook,Hercules
24,Anastasia Tremaine,Lucille Bliss,Cinderella

In [16]:
# connection_string = "root:7Beetaz!@127.0.0.1/disney"
# engine = create_engine(f'mysql://{connection_string}')



engine = create_engine("mysql://root:Shining$tar3@localhost/disney")
conn = engine.connect()


engine.table_names()

['dis_characters',
 'dis_voices',
 'disneygrosssales',
 'disneylist',
 'imdbdisney',
 'movie_disney_gross_sales1',
 'movie_gross_sales',
 'wikidisney']

In [17]:
engine.table_names()

['dis_characters',
 'dis_voices',
 'disneygrosssales',
 'disneylist',
 'imdbdisney',
 'movie_disney_gross_sales1',
 'movie_gross_sales',
 'wikidisney']

In [18]:
# Send the Wikipedia Disney data to SQL
wikidiz_df.to_sql(name='wikidisney', con=engine, if_exists='append', index=False)

In [19]:
# Send the Disney List data to SQL
listdiz_df.to_sql(name='disneylist', con=engine, if_exists='append', index=False)

In [26]:
# Send the IMDB Disney data to SQL
imdbdiz_df.to_sql(name='imdbdisney', con=engine, if_exists='append', index=False)

In [21]:
# Send the Gross Movie Sales data to SQL
grossdiz_df.to_sql(name='disneygrosssales', con=engine, if_exists='append', index=False)

In [ ]:
# # Send the Disney Character data to SQL
# chardiz_df.to_sql(name='chardiz_new', con=engine, if_exists='append', index=False)

In [ ]:
# # Send the Disney Voice Actor data to SQL
# voiceactdiz_df.to_sql(name='voiceactdiz_new', con=engine, if_exists='append', index=False)